.planit-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.planit-intro img {
  width: 50px;
  margin-bottom: 0.5rem;
}

.planit-intro h2 {
  font-size: 1.8rem;
  color: white;
  margin: 0;
}

.planit-intro p {
  color: #a8c6dd;
  font-size: 0.9rem;
  margin: 0;
}

form {
  width: 75%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-credential {
  width: 100%;
  margin-bottom: 1rem;
}

.login-credential label {
  color: white;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
  display: block;
}

.username,
.password {
  position: relative;
  margin-bottom: 1rem;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 0.75rem 2.5rem 0.75rem 0.75rem;
  border-radius: 4px;
  border: none;
  font-size: 0.9rem;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #a8d5eb;
}

.username::after,
.password::after {
  content: "";
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
}

/* .username::after {
  background-image: "../assets/userIcon.png"
}

.password::after {
  background-image: url('data:image/svg+xml;utf8,<svg fill="%2389b3d9" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg"><path d="M12 17c1.1 0 2-.9 2-2 0-.41-.13-.79-.35-1.1l1.38-1.38c.27.17.58.28.92.28 1.1 0 2-.9 2-2s-.9-2-2-2c-.41 0-.79.13-1.1.35l-1.38-1.38C13.21 7.13 13.6 7 14 7c1.66 0 3 1.34 3 3 0 .65-.21 1.25-.56 1.74l1.43 1.43C19.6 12.36 20 11.23 20 10c0-2.76-2.24-5-5-5-1.23 0-2.36.4-3.26 1.07L9.74 4.73A6.958 6.958 0 0112 3c3.87 0 7 3.13 7 7 0 1.84-.72 3.5-1.88 4.72l1.38 1.38C20.16 15.43 21 13.81 21 12c0-4.97-4.03-9-9-9-2.66 0-5.05 1.17-6.73 3.03l1.46 1.46C7.45 5.57 9.63 5 12 5c3.87 0 7 3.13 7 7 0 1.38-.4 2.67-1.09 3.77L18 17.54c-.55.55-1.15 1-1.77 1.38l1.46 1.46C19.83 18.35 21 15.79 21 13c0-4.97-4.03-9-9-9z"/></svg>');
} */

/* Error messages */
.usernameError-message,
.passwordError-message,
.loginError-message {
  color: #ff5c5c;
  font-size: 0.8rem;
  margin-top: 4px;
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #b2e2ec;
  border: none;
  border-radius: 999px;
  color: #0a2c4e;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 0.5rem;
}

.login-button:hover {
  background-color: #9ad8e6;
}

form > p {
  margin-top: 1rem;
  color: #a8c6dd;
  font-size: 0.8rem;
}

form > p > a {
  color: white;
  text-decoration: underline;
  margin-left: 5px;
  cursor: pointer;
}

.register-link {
  margin-top: 20px;
  text-align: center;
}

.register-link p {

  color: #a8d5eb;
}

.register-button {
  background-color: transparent;
  border: none;
  color: #a8d5eb;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1rem;
}

.register-button:hover {
  color: #0056b3;
}
