.planit-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.planit-intro img {
  width: 50px;
  margin-bottom: 0.5rem;
}

.planit-intro h2 {
  font-size: 1.8rem;
  color: white;
  margin: 0;
}

.planit-intro p {
  color: #a8c6dd;
  font-size: 0.9rem;
  margin: 0;
}

.login-form {
  width: 75%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-credential {
  width: 100%;
  margin-bottom: 0rem;
}

.login-credential label {
  color: white;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
  display: block;
}

.username-login {
  position: relative;
  margin-bottom: 0.5rem;
}

.password-login {
  position: relative;
  margin: bottom 0.5rem;
}

.username-login-textbox,
.password-login-textbox {
  width: 100%;
  padding: 0.75rem 2.5rem 0.75rem 0.75rem;
  background-color: white;
  border-radius: 4px;
  border: none;
  font-size: 0.9rem;
  color: black;
}

.username-login-textbox:focus,
.password-login-textbox:focus {
  outline: none;
  box-shadow: 0 0 0 2px #a8d5eb;
}

.username-login-error,
.password-login-error {
  border: 1px solid #ff5c5c !important;
  background-color: white;
  color: black;
}

input.error {
  border: 1px solid #ff5c5c;
  background-color: white;
  color: black;
}

.username-login::after,
.password-login::after {
  content: "";
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
}

.usernameError-message,
.passwordError-message,
.confirmPasswordError-message {
  color: #ff5c5c;
  font-size: 0.8rem;
  margin-top: 2px;
  margin-bottom: 0;
  text-align: left;
}

.authError-message {
  color: #ff5c5c;
  font-size: 0.8rem;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.login-button,
.register-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #b2e2ec;
  border: none;
  border-radius: 999px;
  color: #0a2c4e;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 0rem;
}

.login-button:hover,
.register-button:hover {
  background-color: #9ad8e6;
}

.auth-footer-link {
  margin-top: 10px;
  text-align: center;
}

.auth-footer-link p {
  color: #a8d5eb;
  font-size: 1rem;
}

.auth-footer-link a,
.auth-footer-link span {
  color: white;
  font-size: 1rem;
  text-decoration: underline;
  cursor: pointer;
}

.auth-footer-link a:hover,
.auth-footer-link span:hover {
  color: gray;
}