.navbar {
    display: flex;
    align-items: center;
}

.navbar-links {

    align-items: center;
    display : flex;
    list-style: none;
    gap : 1 rem;
    padding : 0;
    margin : 0;
}

.navbar a {

    text-decoration: none;
    color : whitesmoke;
    font-weight : bold;
    display : flex;
    align-items: center;
    height: 100%;
    padding-left : 20px;
    margin-right : 50px;
}